
<div class="row">
      <div class="span5">
        <div class="left-section">
          <div class="gray-box">
              <div class="banner1">
                Call for Papers
              </div>
              <div class="information">
                Deadline to submit papers by is April 15th, 2013
              </div>
              <div class="button1">
                <%= link_to "Submit a Paper", data_files_path, style: "color: #EBEBEB" %>
              </div>
              <div class="information">
                Deadline to register by is July 1st, 2013
              </div>
              <div class="button1">
                <%= link_to "Register for Conference", new_registrant_path, style: "color: #EBEBEB" %>
              </div>
            <div class="gradient-divider">
            </div>
          </div>
        </div>
      </div>
    <div class="span7">
      <div class="right-section">
        <div class="banner1">
          General Information
        </div>
        <div class="gen-inf">
          9th annual Workshop in Macroeconomic Research at Liberal Arts Colleges
        </div>
        <div class="gen-inf">
          The workshop will be taking place at Claremont Mckenna College
        </div>
        <div class="gen-inf">
          It will be taking place on August 6th-7th - 2013 (Tuesday and Wednesday)
        </div>
        <div class="empty-box"></div>
        <div class="gradient-divider"></div>
        <div class="goals">
          The primary goals of this workshop are:
        </div>
        <div class="goals2">
          to create an open forum that allows macroeconomists at liberal arts
          colleges to expose their work to a group of peers and gain valuable feedback
        </div>
        <div class="goals2">
          to build a network of colleagues with whom to share ideas and collaborate on research projects
        </div>
        <div class="empty-box"></div>
        <div class="gen-inf2">
          You are invited to share your research and to learn about the work
          being done by other macroeconomists at liberal arts colleges
        </div>
        <div class="empty-box"></div>
        <div class="gen-inf2">
          We will also need persons willing to serve as sessions chairs and paper discussants.
        </div>
        <div class="gen-inf2">
          Please contact us before june 30th
        </div>
        <div class="empty-box"></div>
        <!--<div class="banner1">-->
          <!--Announcements-->
        <!--</div>-->
      </div>
    </div>
</div>




