<% provide(:title, 'Registrants') %>
<h1>Registrants</h1>

<%= will_paginate %>

<div class="registrant-header">
  <div class="name">
    Name
  </div>
  <div class="vertical-divider"></div>
  <div class="email">
    Email
  </div>
<div class="vertical-divider"></div>
<div class="institution">
    Institution
  </div>
<div class="vertical-divider"></div>
<div class="chair">
    C
  </div>
<div class="vertical-divider"></div>
<div class="discussant">
    D
  </div>
<div class="vertical-divider"></div>
<div class="presenter">
    P
  </div>
<div class="vertical-divider"></div>
<div class="subjects">
    Subjects willing to discuss
  </div>
</div>
<ul class="users">
  <%= render @registrants %>
</ul>

<%= will_paginate %>